DATABASE_URL="postgresql://postgres:postgres@localhost:5432/app"

BETTER_AUTH_SECRET=zhFJETo0znMahWwfBvEFM2hcmZbez4jo

R2_ACCOUNT_ID=""
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""
R2_BUCKET_NAME="reservo"

STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
